.card {
  padding: 2rem;
  border: 1px solid #000;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.2em;
  font-weight: normal;
}
/* niekada nesitaikom i taga, visada pirma turim raysti klase */
/* h2 {
  font-size: 5rem;
} */

.card-text {
  color: coral;
  letter-spacing: 2px;
}

.image {
  background-color: #fff;
}
